<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand">
         Proyectos
      </span>
      <div *ngIf="loading">
        <i class="fa fa-plus-circle btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#proyectoModalUno"></i>
      </div>
      
    </div>
  </nav>

  <div class="modal fade" id="proyectoModalUno" tabindex="-1" aria-labelledby="proyectoModalUnoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="proyectoModalUnoLabel">Agregar Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="card mat-card experiencia">
                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="texto" id="nombreProyecto" 
                    [(ngModel)]="name" 
                    class="form-control " />
                    <label for="floatingInput">Nombre del Proyecto</label>
                  </div >
                </div>

                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="motivo" id="motivoProyecto" 
                    [(ngModel)]="motivo" 
                    class="form-control " />
                    <label for="floatingInput">Motivo</label>
                  </div >
                </div>
               
                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="fecha" id="proyectoIni" 
                          [(ngModel)]="date_start" 
                          class="form-control " />
                          <label for="floatingInput"> Fecha Inicio</label>
                  </div>
                </div>

                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="fecha" id="proyectoFin"
                          [(ngModel)]="date_end" 
                          class="form-control " />
                          <label for="floatingInput"> Fecha Fin</label>
                  </div>
                </div>

                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="dsc" id="proyectoDsc"
                          [(ngModel)]="description" 
                          class="form-control " />
                          <label for="floatingInput"> Descripción</label>
                  </div>
                </div>

                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="dsc" id="proyectoPort"
                          [(ngModel)]="portfolio" 
                          class="form-control " />
                          <label for="floatingInput"> Portfolio</label>
                  </div>
                </div>

                
                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="dsc" id="proyectoVid"
                          [(ngModel)]="presentacion" 
                          class="form-control " />
                          <label for="floatingInput"> Videos</label>
                  </div>
                </div>

                
                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="dsc" id="proyectoRed"
                          [(ngModel)]="redes" 
                          class="form-control " />
                          <label for="floatingInput"> Instagram</label>
                  </div>
                </div>
                
                <div class="row mb-3 d-flex justify-content-center">
                  <div class="form-floating">
                    <input type="text" name="dsc" id="proyectImg"
                          [(ngModel)]="urlImage" 
                          class="form-control " />
                          <label for="floatingInput"> Foto</label>
                  </div>
                </div>

                <div class="d-grid gap-2 col-4 mx-auto">
                  <button  class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close" (click)="onSubmit()">Guardar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>


