.mat-card{
    margin: 5px 10px;
    padding: 15px;
    border-color: #000000;
  }

  .mat-card#first-card{
    padding: 0;
  }
  
  div#profile-background{
    display:flex;
    z-index: 1;
  }
 
  .profile-image{
    position: sticky;
    border-radius:50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
    margin-left: 10px;

  }
  div#info-actions {
    display: flex;
  }
  div#info-actions button{
    margin-right: 8px;
  }
  div#info-contact span{
    font-size:1rem;
    font-weight: 400;
  }
  div#info-contact span a{
    color:#0a66c2;
    touch-action: manipulation;
    text-decoration: none;
  }
  div#info-titulo{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
  }
  div#info-data{
    display:flex;
    justify-content: space-between;
    margin-left:10px;
  }
  div#info-data h1{
    font-size: 1.8rem;
    display:inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
  }
  

  
  button.btn.btn-outline-primary {
    margin: 15px;
    /* margin-bottom: 10px; */
  }
  .btn.btn-primary-edit.me-md-2 {
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    padding: 0.1%;
    position: static;
    margin-left: 98%;
    margin-top: -100px;
  }
  
  div#info-red{
    display:flex;
    justify-content: space-between;
    margin:0px;
  }
  
  div#info-red ul#info-redes li a img {
    width:32px;
    height:32px;
    margin-right:8px;
  }
  button.btn.btn-outline-primary {
    position: absolute;
    margin-top: -1px;
  }
  div#info-red div#argentinaPrograma img{
    width:242px;
    height:92px;
  }

  .info-experiencia{
    list-style: none;
  
  }

  .info-experiencia img {
    width:120px;
    height:100px;
  }
  
img.redes{
  width: 35px;
  height: 35px;
}

img#fotoTrabEstProList {
  border: 3px outset;
  border-color: #ededed;
  width: 120px;
  position: relative;
  box-shadow: 0 12px 9px -2px #212529;
  margin-left: 35px;
    margin-bottom: 20px;
}

.fotoTrabEstProList{
  border: 5px outset;
  border-color: #e1e1e1;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  box-shadow: 0 12px 9px -2px #212529;
}

div#profile-background img {
  width: 99%;
  border: 2px outset;
  border-color: #e1e1e1;
  border-radius: 1px;
  height: 450px;
  margin-top: 15px;
}
.progress-bar{
  background-color: #212529;
}

h5.card-title {
  font-family: monospace;
}

span.navbar-brand {
  font-size: 25px;
}

img#datosContacto {
  width: 34px;
}
